<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family: 'Nanum Gothic', sans-serif;
            color: rgb(81, 123, 156);
            text-align: center;
            margin: 250px;
        }
        button{
            width: 400px;
            height: 70px;
            font-size: larger;
            border: 0;
            border-radius: 50px;
            background-color: rgb(222, 222, 222);
            color: rgb(126, 126, 126);
        }
        div{
            margin: 30px;
            width: 700px;
        }
        h1{
            background-color: rgb(81, 123, 156);
            padding: 50px;
            border-radius: 50px;
            color: white;
        }
    </style>
    <title>home</title>
</head>
<body>
    <div>
        <h1>커뮤니티에 오신걸 환영합니다.</h1>
        
    </div>
    <div>
        <img src="/private-chat.png" width="300px">
    </div>
    <div>회원만 이용가능한 커뮤니티입니다. 이용을 원하시면 회원가입 후 로그인 해주시길 바랍니다.</div>
    <div>
    <a href="/account/signin"><button>로그인으로 바로가기</button></a>
    </div>
    <div>
    <a href="/account/signup"><button>회원가입으로 바로가기</button></a>
    </div>
</body>
</html>